*{
    margin:0px;
   font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #e6e6e6;
}
.navigationbar{
    background-color:#131A22;
    height: 3.78rem;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position:fixed;
    top:0px;
    z-index: 10;



}
/* hover animation */
.border{
    border:1px solid transparent;
    border-radius: 4px;
}

.border:hover{
  border:1px solid white;
  cursor:default;
}

/* box first */
.navigationitem1{
    display:flex;
    justify-content: center;
    height:50px;
    width:6rem;
    margin-left: 10px;
    margin-right: 10px;
}

#amazonlogo{
    background-image: url("amazonlogo.jpeg");
    background-size: cover;
    height: 90%;
    width: 98%;
}
/* box two */
.navigationitem2{
    color:white;
    height:3.5rem;
    width: 14.37rem;
    display:flex;
    margin-left: 10px;
    text-wrap:nowrap;
    margin-right:10px;
}
.location{
    display:flex;
    justify-content: center;
    align-items:center;
}
.locationtext{
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-left: 3px;

}
#text1{
    font-size: 0.8em;
    color:#cccccc;
}
#text2{
    font-weight: bolder;

}
#locationicon{
    height:17px;
    width: 15px;
    margin-top: 5px;
}

/* search bar box third */
.navigationitem3{
    height:100%;
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 36px;
    border:3px solid transparent ;
    border-radius:6px


}
.search:hover{
    border-color: rgb(255, 196, 34);
}
.allbox{
    width:4rem;
    height:36.28px;

}
#All{
    width:100%;
    padding-left:4px;
    height:100%;
    border-color:#e6e6e6;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-color: #e6e6e6;
    color:#5c5a5a;
    font-size: 12px;

}
.searchbutton1{
    width:4rem;
    height:36.28px;
    
}

.searchbutton{
    width:100%;
    height:100%;
    background-color: rgb(255, 196, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
#iconsearch{
    font-size:1.5rem ;
}
.searchbar{
  width:100%;
  height:36.28px;
}
.searchbarbox{
    width:100%;
    height:100%;
    padding:0px;
    border:none;
    font-size: medium;
}
/* navigationbar element 4 */

.navigationitme4{
    height:50px;
    width: 4.5em;
    display:flex;
    color:white;
    margin-left: 10px;
    margin-right: 10px;

}
.flag{
    background-image:url("flagicon.jpg");
    background-size: cover;
    width:1.7em;
    height:1.2em;
  margin-top: 25%;
}
.en{
    margin-left: 4px;
    height:1.2em;

}
#entext{
    margin-top: 20px;
    font-weight:bolder ;
}
.arrow{
    display: flex;
    align-items: center;
    padding-left: 2px;
}
 
/* navigation box item 5  */

.navigationitem5{
    height:50px;
    width: 140px;
    color:aliceblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-wrap:nowrap;
}

.item5text{
    font-size: 12px;
    color:white;
}
.accounttext{
    font-weight: bolder;
    font-size: 16px;
    text-wrap:nowrap;
}


/* navigationbar 6 item */

.navigationitem6{
    width:79.36px;
    height:50px;
    color:#ffffff;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center ;
    text-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}
.returntext{
  font-size: 14px;
}
.order{
    font-size:16px;
}

/* navigation 7 item */

.navigationitem7{
    width:79.36px;
    height:50px;
    color:#ffffff;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;

}
.cartlogo{
    width:60%;
    height:100%;
    font-size: xx-large;
    display:flex;
    justify-content: center;
    align-items: center;

}
.carttext{
    font-size:14px;
    padding-top: 30%;
}







/* NAVIGATIONBAR 2 */
.navigationbar2{
    background-color:#232F3E;
    width:100%;
    height:6vh;
    position:relative;
    top:60px;
    z-index: 3;
    display:flex;
    justify-content: start;
    align-items: center;
    color:#ffffff;
    text-wrap: nowrap;
    font-size:1em;

    

}

/* navigation 2 all tag */

.all{
    width:6%;
    height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    font-size: large;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
}
#baricon{
    font-size: x-large;
    margin-right: 5%;

}


/* navigation2 amazonmini tv tag */

.amazonminitv{
    width:12%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    
}

/* navigation3 sell tag */

.sell{
    width:4%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
/* navigation4 better seller tag */
.betterseller{
    width:10%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

/* navigation4 mobile tag */
.mobiles{
    width:6%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
/* navigation5 today best deal tag */

.todaydeal{
    width:9%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
/* navigation6 electronics  tag */

.electronic{
    width:7%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;

}
/* last tag of navigation bar 2 */

.navigationbar2lasttag{
    width:30%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:0px;
    margin-right: 20px;
}


/* main section of th amazon website */




.majorimage{
    background-color: red;
    height:600px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: end;
    position:absolute;
    top:100px;
    z-index: -1;
}
.displayimages{
    background-image: url("1.jpg");
    background-size: cover;
    background-blend-mode:exclusion;
    height:600px;
    width:100%;
}

.textstrip{
    background-color:white;
    height:40px;
    position: absolute;
    top:440px;
    left:25px;
    width:96%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#anchor{
    margin:0px;
}
/* boxes */


.shopingitemsboxs{
    height:420px;
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:500px;
    background:transparent;
    

}

.box{
      height:390px;
      width:320px;
      background-color: white;
}
h1{
    padding: 10px;
    margin:10px;
    font-size: x-large;
    font-weight: bolder;
    margin-left:30px;

}

/* box 1 */
.box1image{
    background-image: url("box1.png");
    background-size: cover;
    height:60%;
    width:70%;
    margin-left:30px;
}
a{
    display:inline-block;
    color:rgb(0, 128, 107);
    margin-top: 30px;
    margin-left: 40px;

}
a:hover{
    text-decoration: underline;
    text-decoration-color: rgba(255, 0, 0, 0.644);
    color:rgba(255, 0, 0, 0.644);
}

/* box 2 */

.box2image{
    background-image: url("box\ 2.png");
    background-size: cover;
    height:60%;
    width:80%;
    margin-left:30px;
}
#box2heading{
    width:100%;
    height:20px;
    margin-left: 10px;

}

/* box  3 */


.box3image{
    background-image: url("box3.png");
    background-size:cover ;
    height:60%;
    width:80%;
    margin-left:30px;
}


/* box 4 */

.box4image{
    background-image: url("box4.png");
    background-size:cover ;
    height:60%;
    width:80%;
    margin-left:30px;
}


/* shopingitemsboxs2 */

.shopingitemsboxs2{
    width:100%;
    height:400px;
    position:absolute;
    top:920px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.box5{
    width: 96%;
    height:380px;
    
}

.box5image{
    background-image: url("box5.png");
    background-size:cover;
    height:60%;
    width:100%;
}
/* 
shoping item 3  */

.shopingitemsboxs3{
    width:100%;
    height:400px;
    position:absolute;
    top:1340px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.box6{
    width: 96%;
    height:380px;
    
}

.box6image{
    background-image: url("box6.png");
    background-size:cover;
    height:60%;
    width:100%;
}



/* footer{
    background-color:white;
    height:700px;
    width:100%;
    position: absolute;
    bottom:0px;
} */
/* last div sign in form */

.signindiv{
    height:30vh;
    width:100%;
    position: absolute;
    top:1760px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signin{
    height:20vh;
    width:210vh;
    border:0.5px solid #cccccc;
    border-radius: 4px;
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signinaccount{
    display:flex;
}

.signinbutton{
    display:inline-block;
    padding: 8px 120px 8px 120px;
    border:0.5px solid rgb(250, 187, 28);
    background-color: rgba(255, 196, 34, 0.849);
    border-radius: 4px;
    font-weight: bolder;

}
.div3ofsignin{
    font-size: 14px;
}
 #start{
    margin:0px;
    font-size: 14px;
 }


/* footer */


.footerone{
    background-color: #37475A;
    width: 100%;
    height: 9vh;
    position: absolute;
    top:1940px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 14px;
}


.footersecond{
    background-color: #232F3E;
    width: 100%;
    height: 70vh;
    position: absolute;
    top:2000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    font-size: 14px;
    line-height: 35px;

}

h3{
    font-size: 14px;
    font-weight: 250;
}
h2{
    font-weight: 400;
}




.footerthird{
    background-color: #232F3E;
    height: 20vh;
    position: absolute;
    top:2400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#cccccc;
    border-top: 0.1px solid #cccccc58;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.amazonlogo{
    background-image: url("amazonlogo2.png");
    background-size: cover;
    height:10vh;
    width:30vh;
    margin-bottom: 15px;
}

.footerthirdbox1{
    height:5vh;
    width:10vw;
    border:0.5px solid #cccccca7;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right:7px;

}

.footerthirdbox2{
    height:5vh;
    width:10vw;
    border:0.5px solid #cccccca7;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right:7px;
}
.footerthirdbox3{
    height:5vh;
    width:10vw;
    border:0.5px solid #ccccccc7;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right:7px;
}

.flaglogo{
    margin:0px;
    margin-right: 3px;
}

/* FOOTER 4 PANEL */


.footerfourth{
    background-color: #131A22;
    height: 300px;
    position: absolute;
    top:2533px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#cccccc;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.footertext{
    width:100%;
    height:20vh;
    display:flex;
    justify-content: space-evenly;
    align-items: start;
    line-height: 20px;
    font-weight: 100;
}
h5{
    color:#ccccccc5;
    font-size:14px;
}

.footerpanelfifth{
    position: relative;
    top:2733px;
    height:100px;
    width:100%;
    background-color: #131A22;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

.links{
    margin:0px;
    display: flex;
    color:#ffffff;
    font-size: 14px;
    width:400px;
    display:flex;
    justify-content: space-between;
    


}
h6{
    font-size:14px ;
    color:#cccccc9d;
    font-weight: lighter;
}




.keshav{
    background-color: #000000;
    color:#e6e6e6;
    position:fixed;
    bottom:0px;
    font-family:'Courier New', Courier, monospace;
}